# Игнорировать файлы и директории, создаваемые IDE
.idea/
.vscode/

# Игнорировать файлы конфигурации npm
node_modules/
package-lock.json

# Игнорировать файлы логов
logs/
*.log

# Игнорировать временные файлы
*.tmp
*.swp

# Игнорировать файлы с паролями или ключами
*.key
*.pem

# Игнорировать файлы конфигурации проекта
.env
config.js
